body {
  background-image: url('https://scontent.fhan6-1.fna.fbcdn.net/v/t1.15752-9/320092647_866045164719618_4708704287188891776_n.png?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=MrRneFELPW0AX9NTr1_&_nc_ht=scontent.fhan6-1.fna&oh=03_AdTnSobpCrXX0A5-0KC3FgT0mwwBlomtn82SD7yNy4kr5w&oe=63CF880A');
  background-size: 100%;
  background-color: #eeace5;
}   